body {
    margin: 0px;
   }
   a {
     font-family: "Roboto Condensed", sans-serif;
     font-weight: 400;
     font-style: normal;
     outline: none;
     text-decoration: none;
     font-weight: 400;
     font-size: 26px;
     line-height: 146%;
     color: #000;
   }
   header {
     background-color: green;
     height: 92px;
   }

   .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
     background-color: #cee9ef;
     height: 92px;
     padding: 0 80px;
   }

   .navigation-group {
    display: flex;
    gap: 46px;
   }

   .img-container {
    display: flex;
    align-items:center;
    gap: 85px;
   }

   .main-container {
    min-height: 1000px;
    background-color: #eaf6f9;
    padding: 70px 80px;
   }

   h1 {
    font-family: "Neucha", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: 400;
    font-size: 74px;    
    line-height: 95%;
    display: inline-block;
    max-width: 630px;
    margin-bottom: 66px;
   }

   h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 119%;
    color: #000;
    max-width: 370px;
   }

   .product-descrition {
    font-family: "Roboto Condensed", sans-serif;
    max-width: 410px;
    font-weight: 400;   
    font-size: 22px;
    line-height: 123%;
    color: #000;
   }

   .about-product {
    display: flex;
    justify-content: space-between;
    position: relative;
   }

   .products-box {
    margin: 0 auto;
    max-width: 890px;
   }

   .img-product {
    position: absolute;
    top: 20px;
    left: 355px;
   }

   .basket-button {
    font-family: "Neucha", sans-serif;
    border: none;
    outline: none;
    background: rgba(29, 183, 218, 0.78);
    border-radius: 6px;
    width: 195px;
    height: 55px;
    font-weight: 400;
    font-size: 30px;
    line-height: 127%;
    color: #000;
    &:hover {
        cursor: pointer;
    }
   }

   .button-container {
    font-family: "Neucha", sans-serif;
    display: flex;
    align-items: center;
    gap: 21px;
   }

   .price {
    font-weight: 400;
    font-size: 24px;
    line-height: 158%;
    color: #000;
   }

  footer {
    padding: 0 80px;
    align-items: center;
    height: 115px;
    display: flex;
    justify-content: space-between;
  }

  .footer-text {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 142%;
    color: #000;
  }